/*Spacings and measures */
/* Other */
/* Mixins */
/* CSS */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px; }

h1 {
  color: #353535;
  font-weight: 600;
  font-size: 42px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

button, button:focus {
  outline: none !important; }

a:focus, a:active, a:hover {
  outline: 0;
  border: 0;
  background-color: #fff !important; }

a:hover {
  color: #fa4a4a;
  cursor: pointer; }

input[type="search"] {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
  color: #353535; }

input[type="search"]:focus {
  border-color: #fa4a4a;
  box-shadow: unset; }

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
  color: #353535;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  opacity: 1; }

header {
  max-width: 1440px;
  padding: 23px 135px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  header .logo {
    height: 45px;
    width: auto; }
  header .desktop-search {
    display: none;
    margin-right: 20px; }
    header .desktop-search input {
      width: 300px !important; }
  header nav.mobile {
    display: none; }
  header nav.desktop {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 23px; }
    header nav.desktop ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    header nav.desktop .nav-link {
      font-size: 14px;
      color: #353535;
      padding: 15px 0; }
    header nav.desktop .nav-link:hover {
      color: #fa4a4a;
      cursor: pointer; }
  header .dropdown-toggle::after {
    position: relative;
    top: 2px; }
  header .profile-desktop {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 163px; }
    header .profile-desktop a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      color: #353535; }
    header .profile-desktop img {
      width: 16px;
      height: auto;
      margin-right: 5px; }
  header .profile-mobile {
    display: none; }
    header .profile-mobile img {
      width: 22px;
      height: auto; }
    header .profile-mobile a {
      margin-right: 25px; }
    header .profile-mobile a:last-child {
      margin-right: 0; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-100 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.vflex {
  display: flex;
  flex-direction: column;
  width: 100%; }

.mobile-menu {
  display: none;
  width: 100%;
  padding: 0 15px; }

.mobile-menu[aria-expanded="false"] {
  max-height: 55px;
  overflow: hidden;
  transition: max-height 0.1s cubic-bezier(0, 1, 0, 1); }

.mobile-menu[aria-expanded="true"] {
  max-height: 2000px;
  transition: max-height 0.3s ease-in-out; }

.mobile-menu {
  /*
   * Just a quick hamburger
   */
  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  /*
   * But let's hide the middle one.
   */
  /*
   * Ohyeah and the last one should go the other direction
   */ }
  .mobile-menu .subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding: 9px 0; }
    .mobile-menu .subheader .mobile-search {
      display: none; }
  .mobile-menu img {
    height: 23px;
    width: auto; }
  .mobile-menu .menu-icon {
    width: 35px;
    height: 35px;
    background-color: #fa4a4a;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .mobile-menu .menu-icon input {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  .mobile-menu .menu-icon span {
    display: block;
    width: 15px;
    height: 1px;
    margin-bottom: 4px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  .mobile-menu .menu-icon span:first-child {
    transform-origin: 0% 0%; }
  .mobile-menu .menu-icon span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  .mobile-menu .menu-icon span:last-child {
    margin-bottom: 0; }
  .mobile-menu .menu-icon input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -6px);
    background: #fff; }
  .mobile-menu .menu-icon input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  .mobile-menu .menu-icon input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-2px, 6px); }
  .mobile-menu .menu-icon input:checked ~ ul {
    transform: none; }
  .mobile-menu li {
    padding: 15px 0;
    font-size: 20px;
    color: #353535;
    position: relative;
    display: flex;
    align-items: center; }
  .mobile-menu li:after {
    position: absolute;
    right: 0;
    border: solid #353535;
    border-width: 0 2px 2px 0;
    display: inline-block;
    content: "";
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  .mobile-menu li div {
    width: 75px; }
  .mobile-menu li img {
    height: 40px;
    width: auto; }
  .mobile-menu .bb {
    border-bottom: 1px solid #e5e5e5; }

.btn:focus {
  box-shadow: none; }

.container {
  max-width: 1440px;
  padding: 0 135px; }

.container h1 {
  padding-top: 23px; }
.container p {
  font-size: 14px;
  line-height: 1.57;
  color: #8d8d8d;
  margin-bottom: 32px; }
.container .line {
  width: 75px;
  height: 4px;
  background-color: #fa4a4a;
  display: block;
  margin: 23px 0; }
.container .nav {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 23px; }
.container .nav a {
  padding: 15px 23px;
  font-size: 16px;
  font-weight: 600;
  color: #353535; }
.container .nav a:hover {
  color: #fa4a4a;
  cursor: pointer; }
.container .nav a:first-child {
  padding-left: 0; }
.container .breadcrumb {
  background-color: #fff;
  margin-top: 23px;
  padding-left: 0; }
.container .breadcrumb a {
  color: #8d8d8d; }
.container .breadcrumb .active {
  color: #d8d8d8; }

/* Search filters */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding-left: 32px; }

.filters .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 30%;
  /* Price range styles */ }
  .filters .price .name {
    color: #353535;
    font-weight: 600; }
  .filters .price .range-slider-container {
    flex: 1 1 100%;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .filters .price .price-value {
    font-size: 16px;
    color: #8d8d8d; }
  .filters .price .irs-from, .filters .price .irs-to {
    display: none !important; }
  .filters .price .irs {
    flex: 1 1 100%;
    margin: 0 10px; }
  .filters .price .irs--round {
    height: 70px; }
  .filters .price .irs--round .irs-handle {
    top: 32px;
    width: 11px;
    height: 11px;
    border: 3px solid #fa4a4a;
    background-color: white;
    border-radius: 50%;
    box-shadow: unset; }
  .filters .price .irs--round .irs-line {
    height: 3px;
    background-color: #e9e9e9; }
  .filters .price .irs--round .irs-bar {
    height: 3px;
    background-color: #fa4a4a; }
.filters button {
  color: #353535;
  font-weight: 600;
  background-color: transparent;
  font-size: 14px;
  padding: 23px 0 23px 23px; }
.filters .dropdown.show {
  background-color: #fff; }
.filters .dropdown-menu {
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.5);
  border: 0; }
.filters .dropdown .icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 15px;
  display: inline-block; }
.filters .dropdown-item {
  display: flex;
  align-items: center;
  color: #8d8d8d; }
.filters .bold {
  font-weight: 600; }
.filters #silver {
  background-color: #d6d6d6; }
.filters #gold {
  background-color: #e5db93; }
.filters #black {
  background-color: #685c5c; }
.filters #vintage-silver {
  background-image: linear-gradient(to bottom, #ececec, #a5a5a5); }
.filters #blue-silver {
  background-image: linear-gradient(to bottom, #b6cce6, #809dc8); }
.filters .custom-control {
  padding: .25rem 1.5rem; }
.filters .custom-control-label {
  color: #8d8d8d; }
.filters .custom-control-input {
  margin-top: .45rem; }
.filters .custom-control-label::before {
  border-color: #e5e5e5;
  left: -1.25rem; }
.filters .custom-control-label::after {
  left: -0.88rem;
  top: 0.64rem; }
.filters .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #e5e5e5;
  background-color: #fff; }
.filters .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: unset;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fa4a4a; }

.tags li {
  border: 1px solid #e5e5e5;
  padding: 3px 8px;
  color: #8d8d8d;
  margin-right: 23px;
  margin-bottom: 15px;
  display: inline-block; }
.tags .tag_name {
  padding-right: 15px;
  vertical-align: middle; }
.tags .tag_cross {
  font-size: 16px;
  vertical-align: middle; }
.tags .tag_cross:hover {
  color: #fa4a4a;
  cursor: pointer; }

/* Product grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 32px;
  grid-row-gap: 38px;
  margin-top: 32px;
  margin-bottom: 54px; }

.grid_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative; }

.grid_item:hover img {
  transform: scale(1.05); }

.grid_item:hover .grid_title span {
  color: #fa4a4a;
  cursor: pointer; }

.grid_item img {
  width: 100%;
  transition: transform 0.3s ease; }
.grid_item img {
  cursor: pointer; }
.grid_item .grid_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px; }
.grid_item .grid_title span {
  color: #8d8d8d;
  flex: 1 0 auto;
  max-width: 85%; }
.grid_item .grid_title img {
  height: 16px;
  width: auto; }
.grid_item .grid_price :first-child {
  margin-right: 15px; }
.grid_item .grid_price .old-price {
  font-weight: 600;
  color: #8d8d8d;
  text-decoration: line-through; }
.grid_item .grid_price .new-price {
  font-weight: 600;
  color: #fa4a4a; }
.grid_item .grid_price .just-price {
  font-weight: 600;
  color: #353535; }
.grid_item .badge {
  height: 23px;
  padding: 3px 15px;
  letter-spacing: 1px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  width: auto;
  border-radius: 0;
  position: absolute;
  z-index: 2;
  right: 32px;
  top: -12px; }
.grid_item .badge.red {
  background-color: #fa4a4a; }
.grid_item .badge.yellow {
  background-color: #edbc3c; }
.grid_item .badge.blue {
  background-color: #030c44; }
.grid_item .badge.grey {
  background-color: #7f85a1; }

.grid_item.big {
  grid-column: span 2;
  grid-row: span 2; }
  .grid_item.big .product-image {
    width: 100%;
    flex: 1 1 100%;
    object-fit: cover; }

.grid_item.big:hover img {
  transform: scale(1.025); }

.paginator nav {
  margin: 0 auto;
  width: fit-content; }
.paginator .page-link {
  border: 0;
  color: #8d8d8d;
  font-weight: 600; }
.paginator .page-link:hover, .paginator .active .page-link {
  background-color: #fa4a4a;
  border: 0;
  color: #fff; }
.paginator .page-link:focus {
  box-shadow: none; }
.paginator .page-link[aria-label="Previous"], .paginator .page-link[aria-label="Next"] {
  border: 1px solid #e5e5e5;
  border-radius: 0;
  position: relative;
  z-index: 2; }
.paginator .page-link[aria-label="Previous"] {
  margin-right: 32px; }
.paginator .page-link[aria-label="Next"] {
  margin-left: 32px; }

.collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 54px; }

.collection_item {
  flex: 0 0 calc(50% - 15px);
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain; }

.collection_item:first-child {
  background-image: url("../images/back1.png"); }

.collection_item:last-child {
  background-image: url("../images/back2.png"); }

.collection_item span {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 54px; }
.collection_item button {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  width: 175px;
  text-align: center;
  padding: 15px 0; }
.collection_item button:hover {
  background-color: #fff;
  color: #fa4a4a;
  cursor: pointer; }

.instagram {
  /*  .slick-track {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-column-gap: $m;
    }
  
    .carousel_item {
      max-width: 270px;
      max-height: 270px;
    }
  
    .carousel_item img {
      width: 100%;
      height: 100%;
    } */ }
  .instagram h2 {
    color: #353535;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 54px; }
  .instagram .carousel_item img {
    max-width: 270px;
    max-height: 270px; }
  .instagram .slick-prev, .instagram .slick-next {
    width: 50px;
    height: 50px;
    opacity: 0.91;
    background-color: #ffffff;
    z-index: 20; }
  .instagram .slick-prev:before, .instagram .slick-next:before {
    color: #353535; }
  .instagram .slick-next {
    right: 0; }
  .instagram .slick-prev {
    left: 0; }

.description {
  margin: 54px auto;
  max-width: 633px; }

.description h2 {
  color: #353535;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 23px; }
.description span {
  color: #fa4a4a; }
.description p {
  color: #8d8d8d;
  text-align: center; }

.subscription {
  background-color: #030c44;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px; }

.subscription h2 {
  color: #fff;
  font-size: 34px;
  margin-right: 23px; }
.subscription input, .subscription button {
  border-radius: 0;
  border: 0;
  height: 50px; }
.subscription input {
  width: 430px !important;
  background-color: #f1f1f1; }
.subscription button {
  color: #fff;
  background-color: #fa4a4a;
  letter-spacing: 1px;
  font-size: 14px;
  width: 175px; }

footer {
  max-width: 1440px;
  padding: 54px 135px 23px 135px;
  margin: 0 auto; }

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
  margin-bottom: 23px; }

.logo-container {
  height: 100%; }

.footer_logo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }
  .footer_logo img {
    height: 45px; }
  .footer_logo p {
    color: #8d8d8d;
    line-height: 1.57;
    margin-bottom: 0; }

.footer_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 54px; }
  .footer_links h3 {
    font-size: 14px;
    font-weight: normal;
    color: #353535;
    text-transform: uppercase; }
  .footer_links .vflex:first-child {
    margin-right: 54px; }
  .footer_links .lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .footer_links .lists a {
      font-size: 12px;
      font-weight: 300;
      color: #353535; }

.mobile-social {
  display: none; }

.footer_social {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 170px; }
  .footer_social h3 {
    font-size: 14px;
    font-weight: normal;
    color: #353535;
    text-transform: uppercase; }
  .footer_social .links {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer_social .links img {
      object-fit: contain; }
    .footer_social .links .facebook {
      width: 18px;
      height: 18px; }
    .footer_social .links .instagram, .footer_social .links .pinterest {
      width: 20px;
      height: 20px; }
    .footer_social .links .youtube {
      width: 27px;
      height: 27px; }

.footer_copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  border-top: 1px solid #e5e5e5; }
  .footer_copyright span, .footer_copyright a {
    color: #cacaca;
    font-size: 12px; }
  .footer_copyright a {
    border-right: 1px solid #e5e5e5;
    padding-right: 10px;
    margin-right: 10px; }
  .footer_copyright a:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0; }
  .footer_copyright a:hover {
    color: #fa4a4a;
    cursor: pointer; }

.up {
  width: 50px;
  height: 50px;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 21px;
  line-height: 54px;
  background-color: #fa4a4a;
  position: fixed;
  right: 50px;
  bottom: 370px;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
  display: none; }

.up:hover {
  cursor: pointer;
  transform: scale(1.05); }

/* For all dropdowns */
.dropdown-toggle::after {
  border: solid #8d8d8d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px; }

/* uppercase */
.container .nav a, .container .breadcrumb li, .filters .price span, .filters button, .collection_item button, .instagram h2, .description h2, .subscription button, .grid_item .badge {
  text-transform: uppercase; }

/* mobile css */
@media screen and (max-width: 576px) {
  header {
    padding: 23px 15px; }

  .container {
    padding: 0 15px; }

  .container .nav-link {
    font-size: 14px !important; }
  .container .filters {
    display: block;
    padding-left: 15px; }
    .container .filters button {
      padding: 15px 0 15px 15px; }
    .container .filters .price {
      min-width: 100%; }
      .container .filters .price .name {
        padding: 15px 0 15px 15px; }
    .container .filters .dropdown {
      display: inline-block; }
  .container .collections {
    flex-direction: column; }
  .container .collection_item {
    flex: 1 0 100%;
    width: 100%;
    height: 320px;
    background-size: cover;
    padding: 23px; }
  .container .collection_item:first-child {
    margin-bottom: 15px; }
  .container .collection_item span {
    font-size: 20px;
    margin-bottom: 15px; }
  .container .collection_item button {
    padding: 7px 0;
    width: 130px; }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 23px; }

  .instagram .carousel_item img {
    max-height: 160px; }

  .subscription {
    flex-direction: column;
    height: auto;
    padding: 23px; }

  .subscription h2 {
    margin-bottom: 23px;
    font-size: 24px; }
  .subscription input, .subscription button {
    width: auto !important; }
  .subscription button {
    margin-left: 8px; }

  footer {
    padding: 54px 15px 23px 15px; }

  .up {
    bottom: 50px; } }
@media screen and (min-width: 577px) and (max-width: 1160px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); } }
@media screen and (min-width: 577px) and (max-width: 1439px) {
  header {
    padding: 23px 9.38%; }

  .mobile-menu {
    padding: 0 9.38%; }

  .container {
    padding: 0 9.38%; }

  footer {
    padding: 54px 9.38% 23px 9.38%; } }
@media screen and (max-width: 1024px) {
  header nav.desktop {
    display: none; }
  header nav.mobile {
    display: block; }
  header .logo {
    height: 38px; }
  header .profile-desktop {
    display: none; }
  header .profile-mobile {
    display: block; }

  .mobile-menu {
    display: block; } }
@media screen and (max-width: 1160px) {
  footer .footer_logo img {
    margin-bottom: 15px; }
  footer .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  footer .mobile-social {
    display: flex;
    align-self: flex-start;
    max-width: 150px;
    width: 100%; }
    footer .mobile-social img {
      object-fit: contain; }
    footer .mobile-social .facebook {
      width: 15px;
      height: 15px; }
    footer .mobile-social .instagram, footer .mobile-social .pinterest {
      width: 16px;
      height: 16px; }
    footer .mobile-social .youtube {
      width: 22px;
      height: 22px; }
  footer .footer_flex {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between; }
  footer .footer_links {
    padding: 0;
    margin: 23px 0; }
    footer .footer_links .lists {
      flex-direction: column;
      align-items: flex-start; }
  footer .footer_social {
    display: none; }
  footer .footer_copyright {
    flex-flow: column-reverse; }
    footer .footer_copyright nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    footer .footer_copyright span {
      color: #353535;
      text-transform: uppercase;
      margin-top: 32px; } }

/*# sourceMappingURL=custom.css.map */
