$font_color1: #353535;
$font_color2: #8d8d8d;
$red_color: #fa4a4a;
$blue_color: #030c44;
$yellow_color: #edbc3c;
$grey_color: #f9f9f9;
$border_color: #e5e5e5;

$semibold: 600;

/*Spacings and measures */

$main_width: 1440px;
$s: 15px;
$m: 23px;
$l: 32px;
$xl: 54px;
$cont_padding: 135px;

/* Other */

$border: 1px solid $border_color;

/* Mixins */

@mixin basicfont {
  color: $font_color1;
  font-weight: $semibold;
}

@mixin hover {
  color: $red_color;
  cursor: pointer;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin vflex {
  display: flex;
  flex-direction: column;
}

/* CSS */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

h1 {
  @include basicfont;
  font-size: 42px;
}

ul {
  list-style-type: none;
}

header {
  max-width: $main_width;
  padding: $m $cont_padding;
  margin: 0 auto;
  @include flex;
}

header {
  > img {
    height: 45px;
  }

nav.mobile {
  display: none;
}

  nav.desktop {
    margin-right: 23.85%;
  }
  nav.desktop a {
    font-size: 14px;
    color: $font_color1;
  }

  nav.desktop a:hover {
    @include hover;
  }

  .dropdown-toggle::after {
    position: relative;
    top: 2px;
  }

  .profile {
    @include flex;
    min-width: 100px;
  }

  .profile img {
    height: 16px;
  }
}

.btn:focus {
  box-shadow: none;
}

.container {
  max-width: $main_width;
  padding: 0 $cont_padding;
}

.container {
  h1 {
    padding-top: $m;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    color: $font_color2;
    margin-bottom: $l;
  }

  .line {
    width: 75px;
    height: 4px;
    background-color: $red_color;
    display: block;
    margin: $m 0;
  }

  .nav {
    border-top: $border;
    border-bottom: $border;
    margin-bottom: $m;
  }

  .nav a {
    padding: $s $m;
    font-size: 16px;
    font-weight: $semibold;
    color: $font_color1;
  }

  .nav a:hover {
    @include hover;
  }

  .nav a:first-child {
    padding-left: 0;
  }

  .breadcrumb {
    background-color: #fff;
    margin-top: $m;
    padding-left: 0;
  }

  .breadcrumb {
    a {
      color: $font_color2;
    }

    .active {
      color: #d8d8d8;
    }
  }
}

/* Search filters */

.filters {
  @include flex;
  background-color: $grey_color;
  margin-bottom: $s;
  padding-left: $l;
}

.filters {
  .price span {
    @include basicfont;
  }

  button {
    @include basicfont;
    background-color: transparent;
    font-size: 14px;
    padding: $m 0 $m $m;
  }

  .dropdown.show {
    background-color: #fff;
  }

  .dropdown-menu {
    border-top: $border;
    box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.5);
    border: 0;
  }

  .dropdown .icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: $s;
    display: inline-block;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    color: $font_color2;
  }

  .bold {
    font-weight: $semibold;
  }

  #silver {
    background-color: #d6d6d6
  }

  #gold {
    background-color: #e5db93
  }

  #black {
    background-color: #685c5c
  }

  #vintage-silver {
    background-image: linear-gradient(to bottom, #ececec, #a5a5a5);
  }

  #blue-silver {
    background-image: linear-gradient(to bottom, #b6cce6, #809dc8);
  }

  .form-check {
    padding: .25rem 1.5rem;
  }

  .form-check-label {
    color: $font_color2;
  }

  .form-check-input {
    margin-top: .45rem;
  }
}

.tags {
  ul {
    padding: 0;
  }
   li {
     border: $border;
     padding: 3px 8px;
     color: $font_color2;
     margin-right: $m;
     margin-bottom: $s;
     display: inline-block;
   }

   .tag_name {
     padding-right: $s;
     vertical-align: middle;
   }

   .tag_cross {
     font-size: 16px;
     vertical-align: middle;
   }

   .tag_cross:hover {
     @include hover;
   }
}

/* Product grid */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: $l;
  grid-row-gap: 38px;
  margin-top: $l;
  margin-bottom: $xl;
}

.grid_item {
  @include vflex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.grid_item:hover img {
  transform: scale(1.05);
}

.grid_item:hover .grid_title span {
  @include hover;
}

.grid_item {
  img {
    width: 100%;
    transition: transform 0.3s ease;
  }

  img {
    cursor: pointer;
  }

  .grid_title {
    @include flex;
    width: 100%;
    margin-top: $s;
  }

  .grid_title {
    span {
      color: $font_color2;
      flex: 1 0 auto;
      max-width: 85%;
    }

    img {
      height: 16px;
      width: auto;
    }
  }

  .grid_price {
    :first-child {
      margin-right: $s;
    }

    .old-price {
      font-weight: $semibold;
      color: $font_color2;
      text-decoration: line-through;
    }

    .new-price {
      font-weight: $semibold;
      color: $red_color;
    }

    .just-price {
      font-weight: $semibold;
      color: $font_color1;
    }
  }

  .badge {
    height: $m;
    padding: 3px $s;
    letter-spacing: 1px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: auto;
    border-radius: 0;
    position: absolute;
    z-index: 2;
    right: $l;
    top: -12px;
  }

  .badge.red {
    background-color: $red_color;
  }

  .badge.yellow {
    background-color: $yellow_color;
  }

  .badge.blue {
    background-color: $blue_color;
  }

  .badge.grey {
    background-color: #7f85a1;
  }
}

.grid_item.big {
  grid-column: span 2;
  grid-row: span 2;
}

.grid_item.big:hover img {
  transform: scale(1.025);
}

.paginator {
  nav {
    margin: 0 auto;
    width: fit-content;
  }

  .page-link {
    border: 0;
    color: $font_color2;
    font-weight: $semibold;
  }

  .page-link:hover, .active .page-link {
    background-color: $red_color;
    border: 0;
    color: #fff;
  }

  .page-link:focus {
    box-shadow: none;
  }

  .page-link[aria-label="Previous"], .page-link[aria-label="Next"] {
    border: $border;
    border-radius: 0;
    position: relative;
    z-index: 2;
  }

  .page-link[aria-label="Previous"] {
    margin-right: $l;
  }

  .page-link[aria-label="Next"] {
    margin-left: $l;
  }
}

.collections {
  @include flex;
  margin-top: $l;
  margin-bottom: $xl;
}

.collection_item {
  flex: 0 0 calc(50% - 15px);
  height: 320px;
  @include vflex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.collection_item:first-child {
  background-image: url('../images/back1.png');
}

.collection_item:last-child {
  background-image: url('../images/back2.png');
}

.collection_item {
  span {
    font-size: 42px;
    font-weight: $semibold;
    color: #fff;
    text-align: center;
    margin-bottom: $xl;
  }

  button {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    width: 175px;
    text-align: center;
    padding: $s 0;
  }

  button:hover {
    background-color: #fff;
    @include hover;
  }
}

.instagram {
  h2 {
    @include basicfont;
    font-size: 24px;
    text-align: center;
    margin-bottom: $xl;
  }

/*  .slick-track {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: $m;
  }

  .carousel_item {
    max-width: 270px;
    max-height: 270px;
  }

  .carousel_item img {
    width: 100%;
    height: 100%;
  } */

  .carousel_item img, {
    max-width: 270px;
    max-height: 270px;
  }

  .slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    opacity: 0.91;
    background-color: #ffffff;
    z-index: 20;
  }

  .slick-prev:before, .slick-next:before {
    color: $font_color1
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }
}

.description {
  margin: $xl auto;
  max-width: 633px;
}

.description {
  h2 {
    @include basicfont;
    font-size: 16px;
    text-align: center;
    margin-bottom: $m;
  }

  span {
    color: $red_color;
  }

  p {
    color: $font_color2;
    text-align: center;
  }
}

.subscription {
  background-color: $blue_color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.subscription {
  h2 {
    color: #fff;
    font-size: 34px;
    margin-right: $m;
  }

  input, button {
    border-radius: 0;
    border: 0;
    height: 50px;
  }

  input {
    width: 430px!important;
    background-color: #f1f1f1;
  }

  button {
    color: #fff;
    background-color: $red_color;
    letter-spacing: 1px;
    font-size: 14px;
    width: 175px;
  }
}

footer {
  max-width: $main_width;
  padding: $xl $cont_padding $m $cont_padding;
  margin: 0 auto;
}

.footer_flex, .footer_links, .footer_social {
  @include flex;
}

.footer_flex {
  height: 105px;
  margin-bottom: $m;
}

.footer_logo {
  @include vflex;
  height: 100%;
  justify-content: space-between;
}

.footer_logo {
  img {
    height: 45px;
  }
  p {
    color: $font_color2;
    line-height: 1.57;
    margin-bottom: 0;
  }
}

.footer_links {
  min-width: 520px;
}

.footer_links {
  a {
    color: $font_color1;
  }
}

.footer_social {
  min-width: 150px;
  align-self: flex-start;
}

.footer_social img {
  height: 20px;
  width: auto;
}

.footer_copyright {
  @include flex;
  padding: $m 0;
  border-top: $border;
}

.footer_copyright {
  span, a {
    color: #cacaca;
    font-size: 12px;
  }

  a:first-child {
    margin-right: $s;
  }
}

/* For all dropdowns */

.dropdown-toggle::after {
  border: solid $font_color2;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
}

/* uppercase */
.container .nav a, .container .breadcrumb li, .filters .price span, .filters button, .collection_item button, .instagram h2, .description h2, .subscription button, .footer_links a, .grid_item .badge {
  text-transform: uppercase;
}

/* mobile css */

@media screen and (max-width: 576px) {
  header {
    padding: $m $s;
  }

  header {
    nav.desktop {
      display: none;
    }

    nav.mobile {
      display: block;
    }
  }

  .container {
    padding: 0 $s;
  }

  .container {
    .nav-link, {
      font-size: 14px!important;
    }

    .filters {
      display: block;
      padding-left: $s;
    }

    .filters > div {
      display: inline-block;
    }

    .filters {
      button, .price span {
        padding: $s 0 $s $s;
      }
    }

    .collections {
      flex-direction: column;
    }

    .collection_item {
      flex: 1 0 100%;
      width: 100%;
      height: 320px;
      background-size: cover;
      padding: $m;
    }

    .collection_item:first-child {
      margin-bottom: $s;
    }

    .collection_item {
      span {
        font-size: 20px;
        margin-bottom: $s;
      }

      button {
        padding: 7px 0;
        width: 130px;
      }
    }
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $m;
  }

  .instagram {
    .carousel_item img {
      max-height: 160px;
    }
  }

  .subscription {
    flex-direction: column;
    height: auto;
    padding: $m;
  }

  .subscription {
    h2 {
      margin-bottom: $m;
      font-size: 24px;
    }
    input, button {
      width: auto!important;
    }

    button {
      margin-left: 8px;
    }
  }

  footer {
    padding: $xl $s $m $s;
  }

  footer {

    .footer_logo img {
        margin-bottom: $s;
    }
    .footer_flex, .footer_links {
      flex-direction: column;
      height:  100%;
      align-items: flex-start;
      justify-content: space-between;
    }

    .footer_links {
      min-width: unset;
      margin: $m 0;
    }

    .footer_links ul {
      padding: 0;
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 1439px) {
  header {
    padding: $m 9.38%;
  }
  .container {
    padding: 0 9.38%;
  }
  footer {
    padding: $xl 9.38% $m 9.38%;
  }
}
