<header>
  <div class="flex-100">
      <img class="logo" src="images/logo.png" alt="logo">
        <form class="form-inline desktop-search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      <div class="profile-desktop">
        <a href="#">DE</a>
        <a href="#"><img src="images/heart@3x.png" alt=""> 0</a>
        <a href="#"><img src="images/shopping-cart@3x.png" alt=""> 1</a>
        <a href="#"><img src="images/profile@3x.png" alt=""></a>
        <a href="#" class="search-icon"><img src="images/search@2x.png" alt=""></a>
      </div>
      <div class="profile-mobile">
        <a href="#"><img src="images/heart@3x.png" alt=""></a>
        <a href="#"><img src="images/profile@3x.png" alt=""></a>
        <a href="#"><img src="images/shopping-cart@3x.png" alt=""></a>
      </div>
  </div>
  <nav class="desktop">
    <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">New</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Collection</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trending</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Necklaces</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rings</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bracelets</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Earings</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jewelry Set</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Shop Instagram</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Happy Gallery</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Style</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
<div class="mobile-menu" aria-expanded="false">
  <div class="subheader">
    <div class="menu-icon">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    </div>
    <form class="form-inline mobile-search input-group-sm">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <a href="#" class="search-icon"><img src="images/search@3x.png"/></a>
  </div>
  <ul>
    <li class="bb"><div><img src="images/user@2x.png"/></div> My Account</li>
    <li class="bb"><div><img src="images/united-kingdom@2x.png"/></div> English</li>
    <li class="bb"><div><img src="images/coin@2x.png"/></div> EUR Currency</li>
    <li><div><img src="images/sun@2x.png"/></div> New</li>
    <li><div><img src="images/shopping-bag@2x.png"/></div> Collection</li>
    <li><div><img src="images/trending@2x.png"/></div> Trending</li>
    <li><div><img src="images/necklace@2x.png"/></div> Necklaces</li>
    <li><div><img src="images/two-earrings@2x.png"/></div> Earrings</li>
    <li><div><img src="images/bracelet@2x.png"/></div> Bracelets</li>
    <li><div><img src="images/diamond-ring@2x.png"/></div> Rings</li>
    <li><div><img src="images/group@2x.png"/></div> Jewelry Set</li>
    <li><div><img src="images/instagram@2x.png"/></div> Shop Instagram</li>
    <li><div><img src="images/happygallery.png"/></div> Happy Gallery</li>
    <li><div><img src="images/offer@2x.png"/></div> Sale</li>
  </ul>
</div>
