<div class="home-slider">
  <div class="slide">
    <div class="slide-background" id="background-1">
      <div class="container">
        <h1>Fusce vehicula dolor arcu amet</h1>
        <span class="line"></span>
        <span class="subheader">Scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. </span>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide-background" id="background-2">
      <div class="container">
        <h1>The second slide heading</h1>
        <span class="line"></span>
        <span class="subheader">The second slide subheading</span>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide-background" id="background-3">
      <div class="container">
        <h1>The third slide heading</h1>
        <span class="line"></span>
        <span class="subheader">The third slide subheading</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="home-text">
    Happiness Boutique's style is modern classic with a charming vintage touch.
  </div>
  <h2>Recent products</h2>
  <p>Add our new arrivals to your weekly lineup.</p>
  <div class="grid">
    <div class="grid_item">
      <span class="badge red">sale</span>
      <img src="images/product2.png">
      <div class="grid_title">
        <span>Sea Shell Necklace Let's Have a Long Name so It Takes Two Rows</span>
        <img src="images/heart.svg">
      </div>
      <div class="grid_price">
        <span class="old-price">22,90</span>
        <span class="new-price">22,90</span>
      </div>
    </div>
    <div class="grid_item">
      <span class="badge red">sale</span>
      <img src="images/product2.png">
      <div class="grid_title">
        <span>Glam Crystal Glass Tassel Earrings</span>
        <img src="images/heart.svg">
      </div>
      <div class="grid_price">
        <span class="old-price">22,90</span>
        <span class="new-price">22,90</span>
      </div>
    </div>
    <div class="grid_item">
      <img src="images/product2.png">
      <div class="grid_title">
        <span>Star Moon Ring Rose Gold</span>
        <img src="images/heart.svg">
      </div>
      <div class="grid_price">
        <span class="just-price">22,90</span>
      </div>
    </div>
    <div class="grid_item">
      <span class="badge red">sale</span>
      <img src="images/product2.png">
      <div class="grid_title">
        <span>Rhinestone Cross Ring</span>
        <img src="images/heart.svg">
      </div>
      <div class="grid_price">
        <span class="old-price">22,90</span>
        <span class="new-price">22,90</span>
      </div>
    </div>
  </div>
  <h2>Our collections</h2>
  <div class="flex" style="margin-bottom: 120px">
    <div class="collection-item" id="collection-1">
      <div class="hover">
        <h3>Lorem ipsum dolor</h3>
      </div>
    </div>
    <div class="vflex" style="height: 574px; justify-content: space-between; align-items: flex-end">
      <div class="collection-item" id="collection-2">
        <div class="hover">
          <h3>Lorem ipsum dolor</h3>
        </div>
      </div>
      <div class="collection-item" id="collection-3">
        <div class="hover">
          <h3>Lorem ipsum dolor</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="banner">
    <span class="text-first">ac rhoncus neque eros nec.</span>
    <span class="line"></span>
    <span class="text-second">Cras quis nulla commodo aliquam lectus sed. blandit</span>
    <button type="button" name="button">Lorem ipsum dolor</button>
  </div>
  <div class="instagram">
    <h2>shop our instagram</h2>
    <div class="carousel">
      <div class="carousel_item">
        <img src="images/carousel1.png" alt="">
      </div>
      <div class="carousel_item">
        <img src="images/carousel2.png" alt="">
      </div>
      <div class="carousel_item">
        <img src="images/carousel3.png" alt="">
      </div>
      <div class="carousel_item">
        <img src="images/carousel4.png" alt="">
      </div>
      <div class="carousel_item">
        <img src="images/heart-and-pearl-layered-necklace-silver.jpg" alt="">
      </div>
      <div class="carousel_item">
        <img src="images/product2.png" alt="">
      </div>
    </div>
  </div>
</div>
